SESSIONGUARD_RPC_URL=http://localhost:8545
SESSIONGUARD_BUNDLER_URL=http://localhost:3000/rpc
SESSIONGUARD_PAYMASTER_URL=http://localhost:3001/rpc
SESSIONGUARD_PRIVATE_KEY=
SESSIONGUARD_API_PORT=4000
SESSIONGUARD_API_SECRET=
